0 ICON "icon.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "aciddev_"
      VALUE "FileDescription", "from-scratch text editor"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "txt"
      VALUE "LegalCopyright", "copyleft lol"
      VALUE "OriginalFilename", "txt.exe"
      VALUE "ProductName", "txt"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END